body {
    font-family: Arial, sans-serif;
    background-color: #f7f2e7; /* Beige clair */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4e342e; /* Marron foncé */
}

.documentation {
    background-color: #d7ccc8; /* Marron clair */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.documentation h2 {
    color: #4e342e; /* Marron foncé */
}

.documentation .btn {
    background-color: #bf360c; /* Marron rougeâtre */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.documentation .btn:hover {
    background-color: #e64a19; /* Teinte plus claire au survol */
}

section h2 {
    color: #4e342e; /* Marron foncé */
}

section p {
    color: #5d4037; /* Marron foncé modéré */
}
